



@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

/** VSEOBECNE **/
html {

width:100%;
height:100%;
overflow-x: hidden;

}
body {
font: 16px/16px "Montserrat", sans-serif;
background-color: #fff;
height: 100%;
line-height: normal;


}


.overflowhidden{overflow:hidden;}
ol, ul {list-style: none;}

a, a:hover {text-decoration: none;}

.b{
 border: 3px solid green;
}

.container{
	background-color: #fff;
	width: 100%;


}
/*****background no repeat cover center*****/
.bgNRCC{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
iframe.prijimackydoc {width:100vw;
height:100vh;
margin-top:160px;}

/*************************************
**************************************
  NAV PANEL
***************************************
***************************************/
.navbar{
  background-color:rgba(255, 255, 255, .9);
}
.form-control{border-width: 2px; border-color: grey;}

/*** LOGO ***/
.navbar .navbar-brand {
  margin-top: 10px;
  padding: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

}
.navbar .navbar-brand img{
  width: auto;
  height: 120px;
	margin: 10px 0 0 0;
		transition-duration: 0.5s;
}
/*** LINK STYLING ***/
nav ul{
  width:46%;
  text-align: center;
  margin:0;
  padding:0;}

.nav>li{
   color:#fff;
   margin: auto;
   width:24%;

}
.navbar .nav > li > a {
  position: relative;
  color: #a30013;
  text-transform: uppercase;
  padding: 20px 7px 20px 7px;
	font-size: 14px;
	font-weight: 600;
	cursor:pointer;

}




.nav >li >a:hover
{
  background-color: #a30013;
  color: #fff;
  z-index: 2;

}



/***** DROPDOWN STYLING ****/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown2 {
    position: relative;
    display: inline-block;
		width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 0;
		text-align:center;
    visibility: hidden;

}
.dropdown-content2 {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 0;
		text-align:center;
    visibility: hidden;

}

.dropdown-content a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #a30013 ;
  padding: 10px 8px;
  margin-top: 0;
  display: block;
	font-size: 13px;
}

.dropdown-content2 a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #a30013 ;
  padding: 10px 8px;
  margin-top: 0;
  display: block;
	font-size: 13px;
}

@media (min-width: 992px) {
.dropdown:hover .dropdown-content {
    display:block;
    visibility: visible;
}
.dropdown2:hover .dropdown-content2 {
    display:block;
    visibility: visible;
		left:100%;
		top:0%;
}
.dropdownlast:hover .dropdown-content {
    display:block;
    visibility: visible;
		right:0%;

}

}

.dropdown:hover a {
	color: white !important;
background-color:  #a30013; }


.dropdown-content a:hover, .dropdown-content > li:hover{
color: #a30013 !important;
background-color: white ;
transition-duration: 0.5s;}



.dropdown2:hover a .dropdown-content2 {
    display:block;
    visibility: visible;
}

.dropdown2:hover > a{
	color: #a30013 !important;
background-color: white ; }


.dropdown-content2 a:hover {
color: #a30013 !important;
background-color: white ;
transition-duration: 0.5s;}

.dropdown-content2:hover .dropdown2{
	color: #a30013 !important;
	background-color: white ;}


/****
SHRINK NAVBAR
 ***/

@media (min-width: 992px) {
 nav.navbar.shrink li > a{
  margin-top: 10px ;
  transition-duration: 0.5s;

}
nav.navbar.shrink img{
   height: 60px;
   transition-duration: 0.5s;
	 margin: 3px 0 0 0
}

nav.navbar.shrink > ul{
  width:46% ;
  transition-duration: 0.5s;
}

.navbar .nav > li > a {
	  margin: 100px 0 0 0;
		transition-duration: 0.5s;}


}
.navbar .navbar-brand {margin-top:2px;}




/******************************
**************************************
COLLAPSED NAVBAR
***************************************
***************************************/

@media (max-width: 1450px) {

.navbar .navbar-brand img{
	height: 100px;
margin:10px;
}

nav  ul{
	width:41%;}
.navbar .nav > li > a {
	margin: 70px 0 0 0;
	font-size: 12px;
	padding: 20px 0px 20px 0px;
	font-weight: 700;
}

.dropdown-content {
		width: 130%;
}



}

@media (max-width: 992px) {
.hamburger .line{
width: 30px;
height: 3px;
background-color: white;
display: block;
margin: 4px auto;
-webkit-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.hamburger{margin:10px 0 0 10px;
transition-duration: 0.5s;}
.hamburger:hover{
cursor: pointer;
}
.navbar-toggle{float:left;}


#hamburger-1.is-active .line:nth-child(2){
opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
-webkit-transform: translateY(7px) rotate(45deg);
-ms-transform: translateY(7px) rotate(45deg);
-o-transform: translateY(7px) rotate(45deg);
transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
-webkit-transform: translateY(-7px) rotate(-45deg);
-ms-transform: translateY(-7px) rotate(-45deg);
-o-transform: translateY(-7px) rotate(-45deg);
transform: translateY(-7px) rotate(-45deg);
}

#hamburger-1 .line  {
background-color: #a30013;

}
#hamburger-1.is-active  .line{
background-color:white;
transition-duration: 0.5s;}

.navbar .navbar-brand img{
	width: auto;
	height: 50px;
}
nav.navbar{height:70px;box-shadow: 0 0 2px 0 #000;}

	nav ul{
		width: 100%;
		display:block;}
	nav li{
		width: 100;
		padding:0 0 0 0;}
	nav a{
		margin-top: 0;
		padding:0;}


	.navbar-collapse{
		background-color:black;
		opacity:0.9;
		position: fixed;
		top: 0;
		transition:all 0.8s ease-out;
		max-height: 100% !important;
		height:100% !important;
		width: 80%;
		left: -1000px;
		overflow-y:scroll;
		overflow-x: hidden;
		background-color: black;
	}


	.navbar .nav > li > a {
		position: relative;
		margin: 0 auto;
		color: white;
		text-align: left;
		text-transform: uppercase;

		font-size: 14px;
		font-weight: 600;
		padding: 10px 9px 10px 20px;
	}
	.navbar .nav > li{
		width:100%;
	}


	 .nav:nth-child(1){
		margin-top: 70px;
	}


	/***** DROPDOWN STYLING ****/

	.dropdown-content {
			display: none;
			position: relative;
				text-align:left;

	}
	.dropdown-content2 {
			display: none;
			position: relative;
				text-align:left;

	}
	.dropdown-content a {
		color: white;
		background-color: transparent !important ;
		padding: 10px 20px 10px 20px;
		margin-left: 20px;
		display: block;
		font-size: 14px;
	}
	.dropdown-content2 a {
		color: white;
		background-color: transparent !important ;
		padding: 10px 20px 10px 20px;
		margin-left: 50px;
		display: block;
		font-size: 14px;
	}

	.dropdown-content li, .dropdown-content ul, .dropdown-content a {background-color: transparent !important;}
	.dropdown li, .dropdown ul, .dropdown a {background-color: transparent !important;}
	.dropdown{background-color: transparent !important;}
	.dropdown-content{background-color: transparent !important;}


.activedropdown{display:block;
visibility: visible;}
}


.indexcity {
z-index: 9999;
}

.rightnav {
left: 0 !important;
right: 0 !important;
}


@media (max-width: 992px) {

.navbar-header {
		float: none;
}
.navbar-left,.navbar-right {
		float: none !important;
}
.navbar-toggle {
		display: block;
}
.navbar-collapse {
		border-top: 1px solid transparent;
}
.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
}
.navbar-collapse.collapse {
		display: none!important;
}
.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
}
.navbar-nav>li {
		float: none;
}
.navbar-nav li>a {
		padding-top: 10px;
		padding-bottom: 10px;
}
.collapse.in{
		display:block !important;
}
}

/*************************************
**************************************
	FOOTER
***************************************
***************************************/


.footerup{
  background-color:#515151;
  color: #ffffff;
  width: 100%;
  overflow: hidden;
  float: left;
  padding-top: 70px;
  padding-bottom: 60px;
  display: inline;


}
.textkontakt {
  text-align: right;
  font-size: 25px;
  line-height: 55px;
  font-weight: 600;
}

.footerkontakt {
  background-color: #ffffff;
  color: #515151;
  padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;

    font-weight: 500;
    letter-spacing: 3px;
    }
.footerkontakt:hover {
  background-color:#515151;
  color: #ffffff;
  border-style: solid;
    border-width: 3px;
    text-decoration:none;
}
.footermiddle {
  background-color: #3a3a3a;
  color:#ffffff;
  padding-bottom: 20px;
  padding-top: 80px;
  float: left;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  display: inline;
  padding-left: 65px;
  padding-right: 65px;

}
.footermiddle:nth-of-type(odd) {
 padding-bottom: 80px;
 margin-top: -20px;
}


.footermiddlenadpis{
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 20px;
}

.collummiddle{
  width:25%;
  float: left;
}
.footermiddle li {
  list-style: none;
  color:#ffffff;
  margin:6px 0;

}
.footermiddle li a {
  color: #ffffff;

  text-decoration: none;

}
.footermiddle li a:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  margin-left: 5px;
}
.footermiddle li a:active {
  color: ##7a0101;

}
.footerbottom {
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  background-color: #303030;
  padding-left: 30px;
  padding-right: 30px;

}
.bottominfo{
  text-align: left;
  margin-top: 23px;
  margin-bottom: 15px;


}
.bottomlegends {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 15px;
}

@media only screen and ( max-width: 960px ) {
  .footerup {
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  .textkontakt {
    text-align: center;
  }
.footermiddle {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 30px;
}
.footermiddle:nth-of-type(odd) {
 margin-top: -130px;
 padding-bottom: 80px;
}
.footermiddle  ul {
    text-align: left;
    margin-bottom: 35px;
    margin-left: 15px;
  }
  .footerbottom {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    padding: 15px 20px;


  }
  .bottomlegends {
    text-align: center;
    margin-top: 5px;
  }
  .bottominfo {
      text-align: center;
    }



}
.dropdown-footer{
  cursor: pointer;
}
.dropdownc-footer {
 display: none;

}
.dropdownc-footer a {
  display: block;
  padding-left: 15px;
  padding-top: 5px;
  font-weight: 300;

}
.dropdownc-footerblock {
  display: block;
}




/*************************************
**************************************
	BACK TO TOP BUTTON
***************************************
***************************************/
.cd-top {
	z-index: 2;
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: #a30013 url(../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}
.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}
.no-touch .cd-top:hover {
	background-color:#871515;
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}



/*************************************
**************************************
FONT SIZES
***************************************
***************************************/

h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 26px;}
h4{font-size: 22px;}
h5{font-size: 20px;}
h6{font-size: 18px;}

.p05{font-size: 50px;}
.p1 {font-size: 32px;}
.p2 {font-size: 25px;}
.p3 {font-size: 20px; line-height: 1.3;}
.p4 {font-size: 18px;}
.p5 {font-size: 16px;}
.p6 {font-size: 14px;}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
	font-size:50px;


}
.hr-text:before {
  content: '';
  background: #7a0101;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #7a0101;
  background-color: white;
}

@media (max-width: 768px) {
	.hr-text{font-size: 30px;}
	.p05{font-size: 40px;}
	.p1 {font-size: 28px ;}
	.p2 {font-size: 22px}
	.p3 {font-size: 20px;}
	.p4 {font-size: 14px;}
	.p5 {font-size: 12px;}
	.p6 {font-size: 10px;}
  h5{font-size: 17px;}
	.hrstudium{font-size:20px;}
}
.w300{font-weight: 300;}
.w400{font-weight: 400;}
.w500{font-weight: 500;}
.w600{font-weight: 600;}
.w700{font-weight: 700;}


.visibilityH{visibility: hidden;}
.visibilityV{visibility: visible !important;}

.notfound img {width:100%;
  height:auto;
  display:block;
    margin:auto;
  padding-bottom: 20px;
}


.notfound p{
  display: inline-block;
  color: #7a0101;
  text-align: center;

}
.notfound{padding: 20vh 10vh;
min-height: 70vh}
@media (max-width: 1200px) {.notfound img{width:20%;}}
@media (max-width: 768px) {.notfound img{width:50%;}
.notfound{padding: 10vh 5vh;}
}

.heading-photo{height:50vh}
@media (max-width: 1000px) {.photo-heading{height:30vh}}
@media (max-width: 768px) {.photo-heading{height:25vh}}
