
.heading-wrapper{padding-top: 90px;
  top: 50%;
  transform: translateY(-50%);position: relative; }
h1{text-transform: uppercase;

color:white;
font-size: 2.5em !important;
 }
 h6{color:#d3d3d3;}
.heading-aktivity{
height:50vh;
  background-image: url("../img/srobacont.jpg");
  text-align: center;
}
  .container{min-height: 1000px;}
.aktivity-item {width:100%;}

#aktivity-kozaz{   background-image: url("../img/kazdorocneAktivity/Kozaz.jpg");}
#aktivity-stuzkova{     background-image: url("../img/kazdorocneAktivity/stuzkova.jpg");}
#aktivity-lyziarsky{    background-image: url("../img/kazdorocneAktivity/lyziarsky.jpg");}
.aktivity-item{
  cursor:pointer;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
      vertical-align: middle;

      -moz-box-shadow:    inset 0 0 20px #000000;
      -webkit-box-shadow: inset 0 0 20px #000000;
      box-shadow:         inset 0 0 20px #000000;
height:  60vh;}
.aktivity-item:hover .aktivity-overlay{opacity:0.8;
transition-duration: 0.3s;
}
.aktivity-overlay{background-color:black;
opacity:0;
transition-duration: 0.5s;
width:100%;
height:60vh;
position:absolute;}
.aktivity-content{
max-height:0;
    overflow: hidden;
transition: max-height 1s ease-in;
}
.aktivity-content p {padding: 30px;
  line-height: 1.1;


}
.aktivity-content h2{color:#5e1111;
text-transform:uppercase;
padding:50px 0 0 50px;
font-size: 60px;}
.aktivity-active{
max-height: 6000px;
 transition: max-height 1s ease-in;

}
.aktivity-overlay-active{opacity:0.8;
transition-duration: 0.3s;}
.aktivity-content img{margin:auto;
  padding:20px; width:90%; display:block;}
.aktivity-content img:nth-child(1){padding-top: 40px}
@media (min-width: 768px) {
.aktivity-item > h4{position: relative;
top: 25vh;
    text-transform: uppercase;
    font-size: 10vh !important;
    color:white;

display: inline;
}
.aktivity-item h4:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 3px solid white;
  transition: 0.4s;
}
.aktivity-item:hover h4:after {
  width: 100%;
}
}
.aktivity-uvod {padding: 50px;
  min-height:51vh;

}
.aktivity-uvod p {line-height: 1.1;
width:100%;}
.aktivity-uvod img{
  padding-top:30px;
display:block;
  margin:auto;
max-width:50%;
}
@media (max-width: 768px) {
  .aktivity-uvod , .aktivity-content p{font-size: 16px;
    padding:10px;
    margin:0;
}

  .aktivity-uvod img{max-width:90%;}
  .aktivity-item > h4{position: relative;
  top: 25vh;
      text-transform: uppercase;
      font-size: 5vh !important;
      color:#5e1111;
background: white;
  display: block;
  padding:10px;
  font-weight:700;
    border-bottom: 3px solid #5e1111;
      border-top: 3px solid #5e1111;
    opacity:0.8;
  }
  .aktivity-content h2{
font-size:20px;
padding: 20px 0 0 0;
text-align:center;}
.aktivity-content p{padding-top:20px;}

}
