
/*************************************
**************************************
CAROUSEL
***************************************
***************************************/
.carousel{background-color: white;}
.fade-carousel {
    position: relative;
    height: 90vh;
}
.fade-carousel .carousel-inner .item {
    height: 90vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: white;
    border-color: white;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*      SLIDE IMAGES CAROUSEL     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url("../img/srobHome.jpg");
}
.fade-carousel .slides .slide-2 {
  background-image: url("../img/uvod/FotoHome2.jpg");
}
.fade-carousel .slides .slide-3 {
  background-image: url("../img/uvod/FotoHome3.jpg");
}
.fade-carousel .slides .slide-4 {
  background-image: url("../img/uvod/budapest.jpg");
}
/*************************************
**************************************
  DOLEZITE ODKAZY
***************************************
***************************************/
.doleziteodkazy{width:100%;}
.doleziteodkazy button{
		background-color: white;
    color: black;
    padding: 12px 0;
    text-decoration: none;
    float: left;
    margin: 4px 0;
    cursor: pointer;
    text-transform: uppercase;
		width: 20%;
 border: none;
}
.doleziteodkazy a{color:black;}
.doleziteodkazy button img{
		max-height: 35px;
		vertical-align: middle;
		display:inline-block;
		margin-right: 8px;
}
.doleziteodkazy button:hover{
		transition-duration:0.5s;
		background-color: #cccccc;
}

@media (max-width: 768px) {
.doleziteodkazy button:nth-child(1){width:100%;}
.doleziteodkazy button:nth-child(2){width:50%;}
.doleziteodkazy button:nth-child(3){width:50%;}
.doleziteodkazy button:nth-child(4){width:50%;}
.doleziteodkazy button:nth-child(5){width:50%;}

.doleziteodkazy button img{
		max-height: 25px;
		margin-right: 8px;
}

}

/*************************************
**************************************
  NOVINKY
***************************************
***************************************/
.mainContent{
    padding: 15px;
		margin-bottom: 10px;
}


.article{
  margin: 15px 10px 15px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
  }
.article-header{
  color:white;
  line-height: 40px;
  background: #7a0101;
  height:40px;
	padding-left: 15px;

}
.article-header h4{display:inline-block;
	font-size: 14px;
}
.article-date{display:inline-block;
float:right;
color:grey;
font-weight: 200;
padding-right: 10px;}
.article-date p{
	color:white;
}

.glyphicon, .glyphicon:hover, .glyphicon:active, .glyphicon:focus {color:#7a0101;}
.glyphicon-envelope, .glyphicon-envelope:hover, .glyphicon-envelope:active, .glyphicon-envelope:focus{color:black;}
.glyphicon-paperclip{padding-right: 10px;
color:white;}
.nav a:hover .glyphicon-paperclip{color: #7a0101; transition-duration: 0.5s;}

.article-body p{
	line-height: 1.1;
	padding: 15px;
}
.article-body img{
height:130px;
width:130px;
float:left;
padding:10px;

}
@media (max-width: 768px) {
	.mainContent {
		padding: 15px 0;
	}
	.article-body img{height:80px;
	width:80px;}
}

/*************************************
**************************************
  DO LESS MORE
***************************************
***************************************/
.dolessmore { overflow: hidden; }

.dolessmoreblock { position: relative;
}

.lm-control {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #fff;
  text-align: center;
}

.dlmexpand { padding-bottom: 40px; }


/*************************************
**************************************
  DOLEZITE infoRMACIE
***************************************
***************************************/
.ksk{margin-top: 30px;
width:100%;}
.ksk2{display:none;}
.zriadovatel{display:none;}
@media (max-width: 1200px){.ksk{display:none}
.ksk2{display: block;
	width:100%;
	margin:auto;}
.zriadovatel{display:block;}}

.ImportantNews{
    min-height: 400px;
    text-align: center;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
		background-color:  white;
		color: white;
		margin-top:40px;

}

.box-nadpis{
  background-color: rgb(121, 0, 0);
text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 40px;
	margin: auto;
height:40px;

}
.box-informacia{
  padding: 20px 0;
  margin: 20px;
  color: rgb(103, 101, 101);
  border-bottom: 1px;
  border-bottom-style: solid;
}
.border-none{
  border-style: none;
}
.box-date{
  padding: 20px 0;
  color: rgb(121, 0, 0);
  font-size: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: normal;
}
.box-text{
  color: black;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;

  font-weight: 300;
  line-height: normal;
}
.pbig{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.psmall{
  margin: 0;
  padding: 0;
  font-size: 10px;
}
@media (max-width: 1200px){.ImportantNews{margin-top: 30px;}}

/*************************************
**************************************
  O SKOLE UVOD
***************************************
***************************************/

.OskoleUvod{
	width:95%;
	height: 100%;
	margin:50px auto 0 auto;
}
.OskoleUvod .VLAVO{
min-height: 600px;
height:100%;
background: url("../img/Uvod1.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background-position: center;
border: 10px solid #7a0101;
margin-top: 10px;
 box-shadow: 8px 8px 10px black;

}

.OskoleUvod .VPRAVO{
min-height: 600px;
height:100%;
background: url("../img/Uvod2.jpg") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
background-position: center;
border: 10px solid #7a0101;
margin-top: 10px;
 box-shadow: 8px 8px 10px black;
}
.OskoleUvod .TEXT{padding: 0 6%;
text-align: center;}
.OskoleUvod p{padding: 5% 0;
 font-size: 100%;
text-align: center;
line-height: 1.5;}
.OskoleUvod h1{text-align: center;
color:#7a0101;
font-weight: 400;}

.GaleriaBtn{position:relative;
text-align: center;
height:100%;
margin-bottom: 40px;}
.GaleriaBtn hr{width:33%; float:left;
border: solid 2px #7a0101;}
.GaleriaBtn a{
background-color: #7a0101;
color:white;
text-transform: uppercase;
padding:15px 15px;
border:4px solid #7a0101;
text-align: center;
width:30%;
float:left;
}


.GaleriaBtn a:hover{
	color:#7a0101;
background-color: white;
border:4px solid #7a0101;
transition-duration: 0.3s;
}
.VPRAVO, .VLAVO {z-index: 1 !important;}
@media (max-width: 1100px) {
.OskoleUvod p{padding: 10px 3% 30px 3%;}
.VPRAVO, .VLAVO{margin-top: 100px;}
.GaleriaBtn hr{width: 10%;
}
.GaleriaBtn a{
	width: 70%;}
}



/*************************************
**************************************
  ZAUJIMAVE CISLA
***************************************
***************************************/
.ZaujimaveCisla{background: url("../img/ZaujimaveCisla.jpg") no-repeat center center;
text-align:center;
min-height: 600px;
margin-top: -50px ;
z-index: 0!important;

}

.ZaujimaveCisla p{
color: white;
text-transform: uppercase;
line-height: 1;}
.znadpis {
margin-top: 150px;}
.ZaujimaveCisla .popis {
	margin-top: 50px;
	margin-bottom: 100px;
}
.count{
display:block;
color:white;
margin-top: 150px;}
@media (max-width: 1150px) {

	.znadpis{margin-top: 100px;
	padding:25px 0 0;
font-size: 25px !important; }
	.ZaujimaveCisla{min-height: 100%;}
	.ZaujimaveCisla .popis{ margin-top: 20px;
	margin-bottom: 50px;
font-size: 15px!important;}
	.count{margin-top: 70px;}
	.znadpis{text-align: center;}
}

/*************************************
**************************************
  PARTNERI
***************************************
***************************************/


.partneri {
	padding-bottom: 25px;
	height: 100%;
}
.logo {
	width:33%;

}
@media (max-width: 768px) {

	.logo {
		width:100%;
		padding:20px 0;
	}
}


	/*************************************
	**************************************
	  STUDIUM NA SKOLE UVOD
	***************************************
	***************************************/
	.StudiumNaskole{margin: 50px 10px 30px;}
	.StudiumBox{
		height:430px;
		width:95%;
    padding: 10px;
		margin: 60px auto 40px auto;
		transition-duration: 0.7s;
		border: 3px solid  #7a0101;
	  color:#7a0101;
	}
	.StudiumBox h5{color:#7a0101;
	text-align: center;
	margin:15px;
	transition-duration: 0.7s;
	}
	.StudiumBox ul{list-style: disc;font-weight: 400;}
	.StudiumBox li{line-height: 1.3;}

	.StudiumBox:hover{color:white;
	background-color: #7a0101;
	transition-duration: 0.7s;
	margin-top: 30px;}
	.StudiumBox:hover h5{color: white;
	transition-duration: 0.7s;}

	@media only screen and ( max-width: 768px ) {
    .StudiumBox ul{font-size:17px;}
    .StudiumBox h5{font-size: 18px;}
  }

  /*************************************
	**************************************
	  BOXY STUDIUM
	***************************************
	***************************************/
.StudiumStvorce{padding-bottom: 50px;}

	.text-odkazy{
	  color: white;

	  text-transform: uppercase;
	  padding: 10px;
	  width: 100%;
	  line-height: normal;
	}
	.text-popis{
	  color: white;
	  padding: 0 20%;
	  width: 100%;
	  line-height: normal;
	}

	.stvorec{
	  text-align: center;
	  color: white;
	  padding-top: 10px;
	  cursor: pointer;
	  min-height: 320px;
	}

	.stvorec img{margin:0;
	padding-top: 30px;
	width:25%;
	height:auto;
	}
	.prvy{background-color: #7F2525;}
	.druhy{background-color: #670F0F;}
	.treti{background-color: #8E3F3F;}
	.stvrty{background-color: #541010;}
	.stvorec:hover{opacity:0.8;
	transition-duration: 0.5s;}
	.stvorec:hover img{width:30%;
	transition-duration: 0.5s;}



  /*************************************
	**************************************
	  KONTAKT
	***************************************
	***************************************/
.photo-heading{

  background-color: white;
overflow: hidden;
  -moz-box-shadow:    inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow:         inset 0 0 20px #000000;
position: relative;
}
.contact-photo{height:80vh;
  background-image: url("../img/contact-heading.jpg");
}
  .contact-box{width:33%;
    min-width: 400px;
    margin:0 auto;
    left: 0;
    right: 0;
position:absolute;
bottom:0;
height:240px;
background-color: white;
}
.contact-box ul{
  padding: 30px 20px;
  font-size: 18px;
  font-weight: 700;

}
.contact-box li{padding: 10px 0;
transition-duration: 0.3s;}
.contact-box img{height:40px;
width:auto;
display:inline;
padding:5px;
padding-right:10px;}

.contact-info{background-color: #5e1111;
color:white;
padding:50px;
height: 550px;
}
.contact-info h1{padding-bottom: 15px;
font-size: 25px;
font-weight: 700;}
.contact-info p{line-height: 1.5;
font-size: 16px;
font-weight: 500;}
.contact-contact{padding:50px 100px 100px 100px;
}
.contact-contact p{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}


.contact-contact h1{
  /* font-size:40px; */
  color:#5e1111;
  font-weight: 700;
  padding: 40px 0 7px 0;
}
@media (max-width: 1200px){.contact-box ul {font-size: 15px;}
.contact-info{padding:10px;}
.contact-info p, .contact-contact p{font-size:14px;}
.contact-contact{padding:10px;}
}
.contact-email{padding-top: 5px}
/*************************************
**************************************
FORMULAR
***************************************
***************************************/
#form{padding-top: 20px;}
#form h1 {
	margin-bottom: 15px;
	font: bold 30px/30px "Montserrat", sans-serif;
	text-align: center;
	color: #5e1111;

}
::-webkit-input-placeholder{color: #777;}
:-moz-placeholder { /* Firefox 18- */ color: #777;}
::-moz-placeholder {  /* Firefox 19+ */ color: #777;}
:-ms-input-placeholder {color: #777;}



#contact input[type="text"],#contact input[type="email"], #contact textarea{
	display: block;
	padding: 10px;
	margin: 10px auto;
	width: 100%;
	font-size: 18px;
	color: #777;
  border: 1px solid #ccc !important;
	background-color: #DCDCDC !important;
	border-color: #DCDCDC !important;
}

#contact textarea{
	font-size: 16px;
	background-color: #DCDCDC ;
	border-color: #DCDCDC;
}

#contact input:hover, #contact textarea:hover{
	border: 1px solid #888;
}
#contact input:focus, #contact textarea:focus{
	border: 1px solid black !important;
}


#contact textarea{
	max-width: 100%;
	min-width: 100%;
	max-height: 180px;
	min-height: 180px;
  resize: none;
}

#contact .send-button{
	text-align: center;
}

#contact .send-button button[type="submit"]{
	color: #fff;
  background: #5e1111;
  border: none;
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	text-transform: uppercase;
	transition: .5s all ease;
  cursor: pointer;
	font-family: "Montserrat";
}

#contact .send-button button[type="submit"]:hover{
	opacity:0.7;
}

#contact .send-button button[type="submit"]:focus{
	position: relative;
	top: 2px;
}



@media screen and (min-width: 640px){

  #contact textarea{
    max-width: 98%;
    min-width: 98%;
    min-height: 152px;
    margin-right: 0;
  }

	#contact .right,#contact .left{
		display: block;
	}

	#contact .right{
		float: right;
		width: 50%;
	}

	#contact .left{
		float: left;
		width: 50%;
	}
	.cl{
    clear: both;
  }
}


/*************************************
**************************************
  KAZDOROCNE AKTIVITY
***************************************
***************************************/

.heading-wrapper{padding-top: 90px;padding-left: 15px;padding-right: 15px;
  top: 50%;
  transform: translateY(-50%);position: relative; }
.heading-wrapper h1{text-transform: uppercase;

color:white;
font-size: 2.5em !important;
 }
 .heading-wrapper h6{color:#d3d3d3;}
.heading-aktivity{
height:50vh;
  background-image: url("../img/srobacont.jpg");
  text-align: center;
}
#aktivity-kozaz{   background-image: url("../img/kazdorocneAktivity/Kozaz.jpg");}
#aktivity-stuzkova{     background-image: url("../img/kazdorocneAktivity/stuzkova.jpg");}
#aktivity-lyziarsky{    background-image: url("../img/kazdorocneAktivity/lyziarsky.jpg");}
#aktivity-kalamajky{    background-image: url("../img/kazdorocneAktivity/kalamajky-head.jpg");}
#aktivity-protidrogovyt{    background-image: url("../img/kazdorocneAktivity/tyzdenbeneficie.jpg");}
#aktivity-enviromentalnyt{    background-image: url("../img/kazdorocneAktivity/eco.jpg");}
#aktivity-zberpapiera{    background-image: url("../img/kazdorocneAktivity/zber.jpg");}
.aktivity-item{
  cursor:pointer;

     text-align: center;
      vertical-align: middle;
width:100%;
      -moz-box-shadow:    inset 0 0 20px #000000;
      -webkit-box-shadow: inset 0 0 20px #000000;
      box-shadow:         inset 0 0 20px #000000;
height:  60vh;}
.aktivity-item:hover .aktivity-overlay{
opacity:0.8;
transition-duration: 0.3s;
}

.aktivity-overlay{
background-color:black;
opacity:0;
transition-duration: 0.5s;
width:100%;
height:60vh;
position:absolute;
}

.aktivity-content{
max-height:0;
overflow: hidden;
transition: max-height 1s ease-in;
}
.aktivity-content p {padding: 30px;
  line-height: 1.1;
}
.aktivity-content h2{
color:#5e1111;
text-transform:uppercase;
padding:50px 0 0 50px;
font-size: 60px;
}
.aktivity-active{
max-height: 6000px;
 transition: max-height 1s ease-in;

}
.aktivity-overlay-active{opacity:0.8;
transition-duration: 0.3s;}
.aktivity-content img{margin:auto;
  padding:20px; width:90%; display:block;}
.aktivity-content img:nth-child(1){padding-top: 40px}
@media (min-width: 768px) {

.aktivity-item > h4{position: relative;
top: 25vh;
    text-transform: uppercase;
    font-size: 10vh !important;
    color:white;

display: inline;
}
.aktivity-item h4:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 3px solid white;
  transition: 0.4s;
}
.aktivity-item:hover h4:after {
  width: 100%;
}
}
.aktivity-uvod {padding: 50px;
  min-height:51vh;

}
.aktivity-uvod p {line-height: 1.1;
width:100%;}
.aktivity-uvod img{
  padding-top:30px;
display:block;
  margin:auto;
max-width:50%;
}
@media (max-width: 768px) {
  .aktivity-uvod , .aktivity-content p{font-size: 16px;
    padding:10px;
    margin:0;
}

  .aktivity-uvod img{max-width:90%;}
  .aktivity-item > h4{position: relative;
  top: 25vh;
      text-transform: uppercase;
      font-size: 5vh !important;
      color:#5e1111;
background: white;
  display: block;
  padding:10px;
  font-weight:700;
    border-bottom: 3px solid #5e1111;
      border-top: 3px solid #5e1111;
    opacity:0.8;
  }
  .aktivity-content h2{
font-size:20px;
padding: 20px 0 0 0;
text-align:center;}
.aktivity-content p{padding-top:20px;}

.heading-wrapper{
 top: 40%;
 transform: translateY(-50%);}
}

/*************************************
**************************************
  DOKUMENTY
***************************************
***************************************/
.heading-dokumenty{
height:50vh;
  background-image: url("../img/srobacont.jpg");
text-align: center;
}
.document-list ul{
margin:100px 0;
}
.document-list{font-size:14px;
text-transform: uppercase;
font-weight: 600;
margin:100px;
padding: 0 50px;
width: 80%;
   margin: auto;
}

.document-list li{	margin: 0;
  padding: 36px 0 36px 70px;
  list-style: none;
  background-image: url("../img/document.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  transition-duration: 0.5s;
}
.document-list li:hover{padding: 36px 0 36px 60px;
transition-duration: 0.5s;}
.document-list a{color:black;
cursor:pointer;}
@media (min-width:1200px){.document-list{width:70%;}}
@media (max-width:768px){.document-list{padding: 0 0;
    width: 100%;}}






/*************************************
**************************************
CERTIFIKATY
***************************************
***************************************/

.dsd-uvod {
  padding-top: 35px;
  padding-bottom: 35px;


}
.dsdborder {
  padding-top: 10px;
  padding-right: 10px;
  border-right: 3px solid #7a0101;
}
.img-uvod {
  margin-top: 38px;
  text-align: center;
  padding: 35px;
}
.dsd–fixtext {
  background-color: #7a0101;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  line-height: 1.2;
}
.dsd–box {
  padding-top: 45px;
  padding-bottom: 25px;
}
.dsd–greybox {
  background-color: #cccccc;
  display: inline-block;
  padding: 15px 25px;
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
}
.nadpis {

  color:#7a0101;
}
.dsd1l {
  padding-top: 0px;
  padding-bottom: 35px;
  display: inline-block;
  overflow: hidden;
  line-height: 1.3;

}


.dsd1r {
  padding-top: 0px;
  padding-bottom: 35px;
  overflow: hidden;
  line-height: 1.3;

}
.center{
  text-align: center;
  margin:3px;
}
#dsdimg{
  width:100%;
  height:auto;
}

.wrapper{
  text-align: left;
  padding: 120 50px;


}
.certifikaty–box{
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;
  float:left;
  text-align: center;
}
#dsd123 {
  margin:60px;
  border:4px solid #7a0101;
}
.zaver{
  text-align: center;
  margin-bottom: 55px;
  margin-left: 25px;
  margin-right: 25px;
}

@media (max-width: 1100px){
  .dsd–greybox {
    font-weight: 700;
    font-size: 50px;
  }
  .dsdnone{
    display: none;
  }
  .img-uvod {
    margin-top: –15px;
}
}
@media (max-width: 768px) {
  .dsdborder {
    border: none;
  }
  .dsd–box {
    padding-top: 45px;
    padding-bottom: 25px;
  }
  .dsd–greybox {
    font-weight: 700;
    font-size: 40px;
  }
  #dsd123 {
    margin:15px;
    border:4px solid #7a0101;
  }
  .dsdnone{
    display: none;
  }
  .img-uvod {
    margin-top: –5px;
}

}
/*************************************
**************************************
ZIACKA RADA
***************************************
***************************************/

.legislativa ul{list-style:  square;}
.legislativa li{
padding: 10px 0;
line-height: 1.8;
font-weight: 600;
font-size: 20px;}

.zoznamclenov{
  text-align: left;
  line-height: 2;
  font-weight: 600;
  font-size: 20px;
  padding: 30px 0;
}
.ziackarada{
  padding: 0 30px;
  line-height: 2.1;
  font-weight: 500;
  font-size: 20px;
}
.ziackarada li{
  padding: 10px 0;
}
